<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
	{%block head %}
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    {% endblock %}
</head>
<!-- Put some text on the page -->
<body>
	<div class="container-fluid">
		<div class="navbar justify-content-end">
			<ul class="nav">
			  <li class="nav-item">
			    <a class="nav-link active" href="/">Home</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="/user/">Signin</a>
			  </li>
			  <!-- <li class="nav-item">
			    <a class="nav-link" href="/user/">Profile</a>
			  </li> -->
			</ul>
		</div>

		{%block content %}{% endblock %}
	</div>
</body>
</html>